$categories: (
 food: #AC282B,
 // communication: #8E8D93,
 // tooling: #FE4C52,
 development: #FD8B2D,
 design: #FED035,
 wrap-up: #69BB7B,
 marketing: #3BC7C4,
 keynote: #B16BE3,
 // navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
